/* Estilos generales */
body {
  display: grid;
  background-color: #181c29;
  color: #ffdf91;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


h1.welcome {
  font-family: 'Times New Roman', Times, serif, bold;
  font-size: 42px;

}

div.header_logo {
  
  border-width: 1 1 1px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,rgba(184,134,45,0),#b8862d,#ffdf91,#b8862d,rgba(184,134,45,0));
  border-style: solid;
  position: relative;
  z-index: 500;
  background-color: black;
  color: #cda351;
  padding: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

/* Estilos de la barra de navegación */
nav {
  background: linear-gradient(90deg,#181c29,#394766 40%,#181c29);
  border-width: 1px 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,rgba(184,134,45,0),#b8862d,#ffdf91,#b8862d,rgba(184,134,45,0));
  border-style: solid;
  position: relative;
  width: 100%;
  z-index: 400;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height:2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
  text-align: center;
}

nav a {
  font-size: 1rem;
  white-space: nowrap;
  padding: 1;
  font-family: maiola,serif;
  font-weight: 400;
  color: #ffdf91;
  text-transform: uppercase;
  letter-spacing: .06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100%;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  
}

nav a:hover {
    transition: background-color 0.3s ease;
    background-color: #783f0b;
    color: #fff;
  }
  
  /* Inicia slider */
  .image-slider {
    overflow: hidden; 
    position: relative;
    width: 100%; 
    height: 100%; 
    max-height: 350px;
    max-height: 350px;
    justify-content: center; 
    align-items: center; 
    border-width: 5px 0;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,rgba(184,134,45,0),#b8862d,#ffdf91,#b8862d,rgba(184,134,45,0));
    border-style: solid;
   
  }
  
  .image-container {
  
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    -moz-animation: slider 5s infinite ;
    -webkit-animation: slider 5s infinite ;
    animation: slider 30s infinite ;
    height: 100%;
    width: auto;
    
  }
  
  .image-container img {
    width: 100%; 
    height: auto;
    max-height: 350px;
    max-height: 350px;
    object-fit: contain;
    object-position: center;
    
  }

  @keyframes slider {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @-moz-keyframes slider {
    0% {
      -moz-transform: translateX(0);
    }
    50% {
      -moz-transform: translateX(-100%);
    }
    100% {
      -moz-transform: translateX(0);
    }
  }
  
  @-webkit-keyframes slider {
    0% {
      -webkit-transform: translateX(0);
    }
    50% {
      -webkit-transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }


/* Estilos de encabezados y párrafos */
h1, p {
  text-align: center;
  padding: 5px;
}

h1 {
  color: #ffdf91;
  text-align: center;
}

h2 {
  margin-bottom: 1px;
  text-align: center;
}

p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

/* Estilos del footer */
footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  width: auto;
}

footer p {
  font-size: 14px;
}

/* Estilos de los íconos de juego */
.game-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.game-icons a i {
  font-size: 48px;
}

/* Estilos de listas centradas */

.details {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: -10px;
  grid-row-gap: 0px;
  }
  
  .div1 { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  .div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    position: relative;
  }
  .div2 img{
    width: 100%;
    max-width: 300px;
  }
  .div2 img::after {
    width: 100%;
    position: absolute;
    content: "";
    width: 100%;
    /* El height controla el alto del degradado */
    height: 100%;
    left: 0;
    /* Puedes cambiar la posición del degrado desde aquí */
    bottom: 0;
    /* Si cambias la posición, reemplaza también la dirección en el gradiente */
    background-image: linear-gradient(to right, #1746a2, transparent);
  }
  
  .div3 { 
    grid-area: 2 / 1 / 3 / 2; 
  }
  .div4 { 
    grid-area: 2 / 2 / 3 / 3;
   }

.centered-list {
  text-align: center;
  list-style-position: inside;
}


/* Imagenes de los juegos */

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 10px;
  --width-container: 80%;
}

.hero-section{
  align-items: flex-start;
  background-image: #181c29;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(5, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
  
  background-size: cover;
}

.card:before{
  content: '';
  display: flex;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;

}

table {
  border-collapse: collapse;
}

table td {
  padding: 10px;
}